body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.59;
  font-weight: 300;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: 0.5s;
}

img {
  width: auto;
  max-width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 90px;
  font-weight: 700;
}

p {
  margin: 0;

}

a,
a:hover,
a:active {
  text-decoration: none;
  display: block;
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  height: 55px;
  color: #ffffff;
  font-size: 20px;
  border: none;
  line-height: 55px;
  box-shadow: 0 1px 7px #9a9a9c;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

header {
  background: #f9f8fb url("../images/bg-header1.jpg") no-repeat 50% 50%;
  background-size: auto 100%;
}

header .wrapper {
  position: relative;
  height: 100vh;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

header ul li {
  display: inline-block;
  margin-left: 35px;
  /*border-top: 3px solid transparent;*/
}

header ul li a {
  border-top: 3px solid transparent;
}

header ul li a:hover {
  border-color: #ff6033;
}

.home-page {
  padding-top: 245px;
}

.home-page__content {
  width: 370px;
}

.home-page__content button {
  width: 200px;
  background-color: #ff6033;
}

.home-page__content p {
  padding: 30px 0;
}

.home-page__content h2 {
  font-size: 60px;
  font-weight: 900;
}


.scroll-to {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 5%;
  width: 23px;
}


.about-page {
  background-color: #00bbbb;
  color: #ffffff;
}

.about-page .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

.about-page__content {
  width: 500px;
}

.about-page__img {
  position: relative;
  left: -50px;
  margin-right: 50px;
}

.about-page__content p {
  margin-bottom: 20px;
}

